<div class="home-page">
  <div class="top-section">
    <%= render "top" %>
  </div>
  <div class="home-container">
    <div class="banner">
      <div>
        <h2 class="welcome-message">Votre fournisseur</h2>
        <h2 class="welcome-message">de matériel médical</h2>
      </div>
      <div class="description-banner">
      <%= image_tag "delivery.png", alt: "Logo", class: "img-banner" %>
      <p class="description-banner-text">
        Réactivité de livraison en 48h maximum et solutions sur mesure
      </p>
      </div>
      <div class="img-global-banner">
        <%= image_tag "hand.png", alt: "hand" %>
      </div>
    </div>
    <div class="info-section">
    <p>
    Nous proposons un large choix d'équipements médicaux: EPI, gants, instruments, dispositifs de diagnostic, etc...
    </p>
<!--    <p>
    EPI, gants, instruments, dispositifs de diagnostic, etc...
    </p>-->
    <p>
    Réactifs et à l'écoute de vos besoins, nous assurons un service rapide et des prix compétitifs.
    </p>
    </div>
    <div class="contact-section">
      <a href="mailto:gmcfsante@gmail.com" class="contact-button">gmcfsante@gmail.com</a>
      <p>-</p>
      <p>06 08 15 85 54</p>
  </div>
  </div>
</div>
  <div class="photos">
    <%= image_tag "steto.png", alt: "Logo", class: ""  %>
    <%= image_tag "ciseau.png", alt: "Logo", class: ""  %>
    <%= image_tag "thermo.png", alt: "Logo", class: ""  %>
    <%= image_tag "spara.png", alt: "Logo", class: ""  %>
    <%= image_tag "trousse.png", alt: "Logo", class: ""  %>
    <%= image_tag "gel.png", alt: "Logo", class: ""  %>
    <%= image_tag "coupe.png", alt: "Logo", class: ""  %>
    <%= image_tag "ling.png", alt: "Logo", class: ""  %>
    <%= image_tag "masque.png", alt: "Logo", class: ""  %>
    <%= image_tag "gant.png", alt: "Logo", class: ""  %>
    <%= image_tag "tension.png", alt: "Logo", class: ""  %>
    <%= image_tag "ciseau1.png", alt: "Logo", class: ""  %>
    <%= image_tag "tension1.png", alt: "Logo", class: ""  %>
</div>
